# ignore redis-server file 
dump.rdb

# Ignore venv dir
venv/

# Ignore Python bytecode files
app/__pycache__/
migrations/__pycache__/

# Ignore specific test.py in the root directory of my_project
app/test.py


