# ignore redis-server file 
dump.rdb

# Ignore venv dir
venv/

# Ignore Python bytecode files
my_project/__pycache__/

# Ignore specific test.py in the root directory of my_project
my_project/test.py
