.data {
  display: flex;
  justify-content: center;
}

.inner-data {
  display: block;
}

.inner-data h1 {
  color: #fff;
}

.reload-button {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 3px solid black;
  padding: 8px; 
  font-size: 16px;
  text-align: center;
}

th {
  background-color: white; /* Background color for table header cells */
}

tr {
  background-color: gray; /* Background color for even rows */
}
