.inner-content {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.form-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-symbol {
  border-radius: 50px;
  background-color: #acacac;
  min-height: 41px;
  width: 300px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#input-symbol:hover {
  
  box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.input-buttons {
  align-self: center;
  display: flex;
  margin-top: 28px;
  width: 100px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
  margin-left: 30%;
}

.enter-btn {
  font-size: 16px;
  border-radius: 50px;
  background-color: #acacac;
  height: 55px;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enter-btn:hover {
  box-shadow: 1px 3px 3px 6px  rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.result-div {
  box-shadow: 4px 6px 6px 4px  rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: #8c8c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  width: 600px;
  height: 300px;
  font-size: 20px;
  margin-top: 30px;
}

.logo-div img {
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.info-div {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  margin: auto 0;
}


.symbol {
  margin-top: 10px;
}

.symbol-price {
  margin-top: 10px;
}
