{% extends "base.html" %} {% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', path='css/register-s.css') }}"
/>

<title>Login</title>
{% endblock %} {% block content%}

<div class="main-register">
	<div class="register-div">
		<form action="login" method="post">
			<input
				type="text"
				name="username"
				placeholder="Your username"
				class="username-inp"
				required
			/>
			<input
				type="password"
				name="password"
				placeholder="Your password"
				class="passwd-inp"
				required
			/>

			<button type="submit" class="submit-inp">Login</button>
		</form>
	</div>
</div>

{% endblock %}
